* {
    background-image: url();
    background-color: black;
}

.body {
    display: flex;
}

.voto {
    background-color: rgb(68, 68, 68);
    width: 50%;
    height: 80vh;
    display: flex;
    align-items: center;
    border: none;
    margin-top: 90px;
    justify-content: space-between;
}

.dash {
    display: flex;
    align-items: center;
    margin-top: 100px;
}

button {

    background-color: black;
    border: none;
    border-radius: 12px;
    color: white;
    width: 30%;
    height: 8%;
    margin-top: 600px;
    margin-left: 320px;
}

button:hover {
    transition: 1s;
    color: black;
    background-color: white;
}

img {
    display: flex;
    width: 200px;
    height: 200px;

}

img:hover {
    transform: scale(1.1);
}

.fotos {
    background-color: rgb(68, 68, 68);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 300px;
    flex-direction: row;
    height: 50vh;
}