* {
    background-image: url();
    background-color: black;
}

.body {
    display: flex;
}

.voto {
    background-color: rgb(68, 68, 68);
    width: 50%;
    height: 80vh;
    display: flex;
    align-items: center;
    border: none;
    margin-top: 90px;
    justify-content: space-between;
    border-radius: 12px;
    color: white;
    flex-wrap: wrap;
}

.dash {
    display: flex;
    align-items: center;
    margin-top: 100px;
}

button {

    background-color: black;
    border: none;
    border-radius: 12px;
    color: white;
    margin-top: 500px;
    margin-left: 300px;
    height: 7%;
    width: 20%;
   
}

button:hover {
    transition: 1s;
    color: black;
    background-color: white;
    background-image: url(../assets/livro.webp);
}

img {
    display: flex;
    height: 100px;
    height: 100px;
    transition: all 0.5s;
    

}

img:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.3);
}
input{
    margin-top: 500px;
    margin-right: 300px;
    color: white;
    height: 5%;
}

.fotos {
    background-color: rgb(68, 68, 68);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
   
    
} 

.quadro{
background-color: white;
display: flex;
}
